---
const pageTitle = "Sobre mi";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <a href ="/">Home</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
        <p> Soy desarrollador web backend y estoy aprendiendo frontend, en esta ocasion estoy creando un portafolio para presentar mis proyectos, es primera vez que uso astro como framework de frontend</p>
        <p> Este sitio es un sitio de pruebas lanzado en netlify hecho por Julio Vinces.</p>
        <ul>
            {identity.hobbies.map((hobbie) => <li>{hobbie}</li>)}
        </ul>

        <p>Mis habilidades son:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>

        {happy && <p>Estoy feliz de aprender astro</p>}
        {finished && <p>He terminado este tutorial</p>}
        {goal === 3  ? <p>Mi objetivo es terminar en 3 dias</p> : <p>Mi objetivo no son 3 dias</p>}

	</body>
</html>
